@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Kaushan+Script&family=Roboto&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}


header{
    position:relative;
    width: 100%;
    top: 0%;
    right: 0%;
    z-index: 1000;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: rgb(54, 54, 54);
}

.logoo{
    color: white;
    font-family: 'Kaushan Script', cursive;
   }

.logoo:hover{
    color: #e23c73;
    cursor: pointer;
}
.navbar{
    display: flex;
}
.navbar a{
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 500;
    margin: 0 5px;
    color: white;
    /* font-family: 'Lilita One', cursive; */


}
.navbar a:hover{
    /* background-color: rgb(224, 222, 222); */
    border-bottom: 2px solid #e91e63;
}
.bx{
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display:none;
}

.header-btn{
    color: white;
    padding: 8px 13px;
    font-size: 18px;
}
.header-btn .in{
    background: rgb(0, 0, 0);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .5s ease;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
}
.header-btn .in:hover{
    /* border: 2px solid rgb(0, 0, 0); */
    background: #b3164a;;
}

@media only screen and (max-width:1095px){
    header{
        padding: 12px 3%;
        transition: .2s;
    }
   
    
   
}
@media only screen and (max-width:900px){
    .bx-menu{
        display:block;
    }
    .navbar{
        display: none;
    }
    .xyz{
        display:block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: rgb(32, 32, 32);
        transition: all .8s ease;
        text-align:center;
    }
    .logoo{
        height:100px;
        width: 100px;
    }
    .navbar a{
        display: block;
        padding: 1rem;
        margin: .8rem;
        color: white;
    }
    .header-btn{
        padding: 4px 8px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        width: 130px;
    }
    .logoo{
        font-size:30px;
        display: inline;
       }
       .navbar a{
        padding: 10px 14px;
    }

}